/* =================
        Colors           
================= */

/**  Primary  **/
$black: hsl(0, 0%, 0%);
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);

/* ==============
    Typography  
=============== */

/**  Body Copy  **/

$font-size: 1.125rem;

/**  Font  **/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
$font-family: 'Rubik', sans-serif;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
